<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/assets/styles.css" type="text/css"/>
    </head>
        <% include partials/nav.ejs %>
        <body>
        <h1>Mzee Cob</h1>
        <p>Hello from mzee cob</p>
    </body>
</html>